.btn_themPhim {
  margin-bottom: 20px;
  background-color: #ad200d;
  color: #fff;
  font-weight: 400;
}
.btn_themPhim:hover {
  background-color: transparent;
  border-color: #ad200d;
  color: #ad200d;
}
.btn_themPhim:focus {
  background-color: transparent;
  border-color: #ad200d;
  color: #ad200d;
}
